body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:480px;
    padding:20px;
    border-radius:25px;
    align:center
}
.input{
	padding-left:80px;
	padding-bottom: 5px;
	padding-top: 5px
}
.result{
	padding-left:80px;
	padding-top: 5px;
	padding-bottom: 5px
}


